.themeBtn {
  height: 4rem;
  padding-top: 2rem;
  border: 1px solid var(--color-text-primary);
  cursor: pointer;
  background: transparent;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
body[data-theme="dark"] .themeBtn {
  color: var(--theme_dark_text_color);
  background-image: url("dark.svg");
}

body[data-theme="light"] .themeBtn {
  color: var(--theme_light_text_color);
  background-image: url("light.svg");
}
