:root {
  /* dark theme */
  /* bg */
  --theme_dark_bg_color: rgb(5, 35, 45);
  --theme_dark_header_bg: rgb(37, 33, 28);
  --theme_dark_nav_bg: rgb(27, 25, 22);
  --theme_dark_footer_bg: rgb(8, 49, 63);

  /* text */
  --theme_dark_text_color: rgb(215, 215, 215);
  --theme_dark_header_text: rgb(238, 231, 231);
  --theme_dark_price_color: rgb(210, 210, 10);

  /* links */
  --theme_dark_link_color: rgb(215, 215, 215);
  --theme_dark_link_highlight_color: rgb(237, 245, 122);
  --theme_dark_link_text_highlight_color: rgb(36, 25, 3);
  --theme_dark_footer_link_color: rgb(237, 230, 91);
  --theme_dark_footer_text_color: rgb(238, 235, 183);

  /* links bg*/
  --theme_dark_link_bg_highlight_color: rgb(255, 174, 0);
  --theme_dark_alert_color: rgb(240, 240, 45);

  /* light theme */

  --theme_light_bg_color: rgb(237, 241, 209);
  --theme_light_header_bg: rgb(234, 194, 146);
  --theme_light_nav_bg: rgb(133, 160, 228);
  --theme_light_footer_bg: rgb(225, 225, 167);
  /* text */
  --theme_light_text_color: rgb(15, 15, 15);
  --theme_light_header_text: rgb(33, 29, 19);
  --theme_light_price_color: rgb(145, 20, 19);
  /* links */
  --theme_light_link_color: rgb(251, 0, 0);
  --theme_light_link_highlight_color: rgb(253, 106, 0);
  --theme_light_link_text_highlight_color: rgb(179, 70, 3);
  --theme_light_footer_link_color: rgb(183, 63, 27);
  /* links bg*/
  --theme_light_link_bg_highlight_color: rgb(255, 174, 0);
  --theme_light_alert_color: rgb(195, 0, 0);

  --theme_light_alert_bg_color: rgb(230, 245, 85);
  --theme_dark_alert_bg_color: rgb(195, 0, 0);

  --dark_box_bg_color: rgb(55, 55, 50);
  --darker_box_bg_color: rgb(37, 37, 31);
  --mid_box_bg_color: rgb(225, 225, 225);
  --box_header_color: rgb(135, 20, 10);

  --light_box_bg_color: rgb(240, 240, 220);

  --alert-bg-color: rgb(231, 216, 6);
}

.alert {
  color: var(--alert-color);
}

body[data-theme="light"] {
  color: var(--theme_light_text_color);
  background-color: var(--theme_light_bg_color);
}
body[data-theme="dark"] {
  color: var(--theme_dark_text_color);
  background-color: var(--theme_dark_bg_color);
}
