/* layout */
footer {
  margin-bottom: 4rem;
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
}

.lpc-venue-block {
  flex: 1 1 12em;
  padding: 1rem;
}

/* colour */
body[data-theme="dark"] footer {
  background-color: var(--theme_dark_footer_bg);
}

body[data-theme="dark"] footer {
  color: var(--theme_dark_footer_text_color);
}

body[data-theme="dark"] footer a {
  color: var(--theme_dark_footer_link_color);
}
body[data-theme="dark"] footer {
  background-color: var(--theme_dark_header_bg);
}

body[data-theme="dark"] footer a {
  color: var(--theme_dark_footer_link_color);
}

body[data-theme="light"] footer {
  background-color: var(--theme_light_footer_bg);
}

body[data-theme="light"] footer {
  color: var(--theme_light_footer_text_color);
}

body[data-theme="light"] footer a {
  color: var(--theme_light_footer_link_color);
}
body[data-theme="light"] footer {
  background-color: var(--theme_light_header_bg);
}

body[data-theme="light"] footer a {
  color: var(--theme_light_footer_link_color);
}
