:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* mobile first small*/
/* main page content container */
.container {
  display: flex;
  flex-wrap: wrap;
}

.info_column {
  width: 100%;
  padding: 0.5rem;
}

.detail_column {
  width: 100%;
  padding: 0.5rem;
}

.flexy_column {
  width: 100%;
  padding: 0.5rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .info_column {
    width: 46%;
    margin: 2%;
  }
  .detail_column {
    width: 46%;
    margin: 2%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .info_column {
    width: 30%;
    margin: 1%;
  }

  .detail_column {
    width: 46%;
    margin: 1%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .info_column {
    width: 23%;
    margin: 1%;
  }

  .detail_column {
    width: 46%;
    margin: 1%;
  }

  .flexy_column {
    width: 75%;
  }
}
